# Python
__pycache__/
*.pkl
*.jsonl
*.cache

# Environment & IDE
.env
.idea/

# Ignore data contents but keep folder structure
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

my_pegasus/
*.bin
*.safetensors